@media screen and (max-width: 1200px) {
#home h4 {
        font-size: 1.5rem;
}
#home h1 {
    font-size: 1.7rem;
}
#home h5 {
    font-size: 1rem;
}
#home p {
    font-size: 0.9rem;
}
#home .col-md-6 .btn {
    padding: 10px 15px;
    font-size: 1rem;
}
#home img {
    width: 400px;
    height: 400px;
}

#about h2 {
    font-size: 16px;
}
#about h4 {
    font-size: 14px;
}
#about p {
    font-size: 12px;
}
#about .btn-primary {
    padding: 10px 15px;
    font-size: 12px;
}
#about .col-12 img {
    width: 60px;
}

#pricing h2 {
    font-size: 1.5rem;
}
#pricing .price_contents {
    padding: 20px;
}
#pricing .price_contents h4 {
    font-size: 1.2rem;
}
#pricing .price_contents h3 {
    font-size: 1.4rem;
}
#pricing li {
    font-size: 0.9rem;
}
#pricing button {
    padding: 15px;
    font-size: 0.9rem;
}

#contact h2 {
    font-size: 1.5rem;
}
#contact .main_row .right-contents {
    padding: 10px;
}
#contact .main_row .row {
    width: 100%;
    margin: 0px;
}
#contact .main_row .right-contents input, .main_row .right-contents textarea {
    font-size: 0.9rem;
}
#contact button {
    padding: 10px 15px;
    font-size: 0.9rem;
}
#contact .social_media h3 {
    font-size: 1rem;
}
#contact .social_media li {
    padding: 10px;
    font-size: 1rem;
}

}

@media screen and (max-width: 768px) {
#home img {
    margin-top: 40px;
}

#about .row {
    gap: 20px;
}
#about .col-12 ul {
    margin: 0px;
    padding: 0px;
}

#projects .row {
    gap: 20px;
}

#contact .main_row {
    gap: 20px;
}
#contact .main_row .right-contents {
    padding: 0px 20px;
    margin: 0px;
}
#contact .main_row .social_media .col-12 {
    margin: 0px;
    padding: 0px 10px !important;
}

#testimonials .row {
    gap: 20px;
}

#footer .row p {
    font-size: 12px;
}

}


@media screen and (max-width: 480px) {

.navbar .navbar-brand {
    width: 100px;
}
.navbar .navbar-toggler {
    padding: 3px;

}

#home .row .col-md-6 {
    display: flex !important ;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}
#home img {
    width: 300px;
    height: 300px;
}

#about {
    padding: 40px 0px;
}

#services {
    padding: 40px 0px;
}
#services .col-12 h2 {
    font-size: 1.5rem;
}

#projects {
    padding: 20px 0px;
}
#projects h2 {
    font-size: 1.5rem;
}

#pricing {
    padding: 40px 0px;
}
#pricing h2 {
    font-size: 1.5rem;
}

}


@media screen and (max-width: 380px) {


#home .col-md-6 {
    padding: 0px 20px;
}
#home h4 {
    font-size: 1.2rem;
}
#home h1 {
    font-size: 1.4rem;
}
#home h5 {
    font-size: 0.9rem;
}
#home p {
    font-size: 0.6rem;
}
#home .col-md-6 .btn {
    padding: 8px 12px;
    font-size: 0.6rem;
}
#home img {
    width: 250px;
    height: 250px;
}


#about .col-12 img {
    width: 40px;
}
#about .col-12 ul {
    gap: 20px !important;
}

#contact {
    padding: 20px 0px !important;
}
#contact .social_media ul {
    gap: 10px !important;
}
#contact .social_media li {
    font-size: 0.8rem !important;
}

#testimonials {
    padding: 40px 0px;
}
#testimonials h2 {
    font-size: 1.5rem;
}

}